:root {
	--black-color-primary: #111827;
	--black-color-secondary: #1f2937;
	--blue-color-primary: #1a56db;
	--white-color-primary: #ffffff;
	--white-color-secondary: #a5a6a9;
}

body {
	background-color: var(--black-color-primary);
	color: var(--white-color-primary);
}
.header, .navbar, .service {
	background-color: var(--black-color-primary) !important;
	color: var(--white-color-primary) !important;
}

.navbar {
	border: none !important;
}

.toogle-icon {
	color: var(--white-color-primary) !important;
}

.nav-item-child, .logo-img {
	color: var(--white-color-primary) !important;
}
.text-right {
	text-align: left;
}
.text-right h2 {
	color: var(--white-color-primary) !important;
}
.text-right p {
	color: var(--white-color-secondary) !important;
}
.promo-block {
  height: 100vh;
}
.promo-block-title {
	font-size: 4em !important;
}
.promo-block-firstname {
  font-size: 3em !important;
  font-weight: 500;
}

.hero-img {
	width: 60%;
}

.hero-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icons {
  width: 60px;
  height: 60px;
  font-size: 2em;
}

.skills-title {
  text-align: left;
  font-weight: 600;
  color: var(--white-color-primary) !important;
}

.skills-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 2.5em;
}

.skills-list-item {
  background-color: var(--black-color-secondary);
  padding: 7px 15px;
  border-radius: 20px;
  color: var(--white-color-secondary);
  font-size: 18px;
  transition: all 0.03s ease-in-out;
}

.skills-list-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.logo-img {
  font-size: 2em;
  font-weight: 400;
}

.logo-img-main {
  color: var(--white-color-primary);
}

.logo-img-active {
  color: var(--white-color-secondary);
}

.presentation {
  font-size: 20px;
}

/* card */
.card {
	position: relative;
	height: 300px; /* Ajuster la hauteur selon vos besoins */
	transition: all 0.2s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-bottom: 20px;
	border: 1px solid #4343434b;
  }

  .card:hover {
	cursor: pointer;
	transform: scale(1.05);
  }
  
  .card img {
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100%;
	object-fit: fill; /* Recouvrir entièrement la carte */
  }
  
  .card-content {
	position: absolute;
	color: var(--white-color-secondary);
	height: 60%;
	margin: auto;
	padding: 15px;
  }
  
  .card-content h2{
	margin-top: 0;
	color: var(--white-color-primary);
	text-align: center;
	transition: all 0.5s ease-in-out;
	opacity: 0;
  }
  
  .card-content p {
	transition: all 0.5s ease-in-out;
	opacity: 0;
	color: var(--white-color-secondary);
	text-align: center;
  }

  .card:hover .card-content p {
	opacity: 1;
  }

  .card:hover .card-content h2 {
	opacity: 1;
  }

  .card:hover img {
	filter: brightness(20%);
  }

  .badges {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	transition: all 0.5s ease-in-out;
	opacity: 0;
  }
  .card:hover .card-content .badges {
	opacity: 1;
  }
  
  .badge {
	display: inline-block;
	padding: 15px 20px 10px 20px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: var(--white-color-primary);
	color: var(--black-color-secondary);
	text-transform: uppercase;
	font-size: 0.8em;
  }

  .preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
  }

  .preloader img {
	width: 150px;
  }

  .hide {
	display: none;
  }

  .btn-perso {
	padding: 15px 20px 10px 20px;
	border-radius: 5px;
	background-color: var(--black-color-secondary);
	color: var(--white-color-primary);
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
	border: none;
	transition: all 0.2s ease;
  }

  .btn-perso:hover {
	background-color: #515769;
	color: #fff;
	cursor: pointer;
  }

  .btn-perso:active {
	transform: scale(0.95);
  }

  .service {
	border: 1px solid rgba(133, 133, 133, 0.244);
  }

  @media screen and (max-width: 600px) {
	.promo-block-title {
		font-size: 2.8em !important;
	}

	.promo-block-firstname {
		font-size: 2em !important;
	}

	.social-icons {
		width: 50px;
		height: 50px;
		font-size: 1.8em;
	}

	.skills-title {
		text-align: center;
	}

	.skills-list {
		justify-content: center;
	}

	.parallax-window {
		background-size: auto !important;
		background-repeat: no-repeat;
	}
  }