@font-face {
  font-family: "montserrat-semi-bold";
  src: url("../font/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "montserrat-regular";
  src: url("../font/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "montserrat-light";
  src: url("../font/Montserrat-Light.ttf");
}
:root {
  --nav-bg-color-dark: #0A1334;
  --nav-bg-color-white: #91b0ff;
  --body-bg-color-dark: #1a2838;
  --body-bg-color-light: #b2c7fc;
  --brand-color: #9A2F43;
  --card-body-color-dark: #122131;
  --card-header-color-dark: #060f2f;
  --card-body-color-light: #c4d4fc;
  --card-header-color-light: #91b0ff;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "montserrat-semi-bold";
  margin: 0px;
  padding: 0px;
}

.body-dark {
  color: #e7e7e7;
  background-color: var(--body-bg-color-dark);
}

.body-light {
  color: #000000;
  background-color: var(--body-bg-color-light);
}

.font-light-montserrat {
  font-family: "montserrat-light";
}
.font-regular-montserrat {
  font-family: "montserrat-regular";
}

.title {
  color: var(--brand-color);
  margin-left: 10%;
}

td {
  font-family: "montserrat-regular";
}

.projet {
  width: 100%;
  height: 250px;
}
.navbar-dark .navbar-brand {
  color: crimson;
}
.navbar-light .navbar-brand {
  color: crimson;
}

#code {
  font-size: 12px;
}

.footer {
  margin: 0px;
  padding: 30px;
}
.navbar-light {
  background-color: var(--nav-bg-color-white);
}
.navbar-dark {
  background-color: var(--nav-bg-color-dark);
}
.card-dark {
  background-color: var(--card-body-color-dark);
  color: #dfd2df;
  width: 100%;
  margin: 0px;
}
.card-header-dark {
  background-color: var(--card-header-color-dark);
}

.card-light {
  background-color: var(--card-body-color-light);
  color: #2d2d2d;
  width: 100%;
  margin: 0px;
}
.card-header-light {
  background-color: var(--card-header-color-light);
}

.card-body-light {
  background-color: #aafff5;
}

.card-body-light {
  background-color: rgb(29, 29, 71);
}

#pdp {
  width: 250px;
  height: 250px;
  border: 3px solid rgb(153, 58, 15);
}

.dark-table {
  background: var(--card-body-color-dark);
  color: white;
}
.dark-table tr {
  border-bottom: 2px solid rgb(126, 126, 126) 20%;
}

.light-table {
  background-color: var(--card-body-color-light);
  color: black;
}
.light-table tr {
  border-bottom: 2px solid rgb(126, 126, 126) 20%;
}

.skill {
  border: 2px solid rgb(153, 58, 15);
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.apropos {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 11px;
  padding-right: 11px;
}

.couverture {
  background-image: url("/assets/img/php-code.jpg");
  background-position: center;
  background-size: cover;
}

.ityped-cursor {
  font-size: 2.2rem;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

.card-img {
  opacity: 15%;
}

.project-link {
  text-decoration: none;
}
.bg-item {
  background-color: #2f004c;
}

.portfolio-title {
  color: crimson;
}
.portfolio-description {
  color: rgb(198, 72, 97);
}
.moon {
  color: gray; 
  font-size: 2.5vh;
}
.sun {
  color: yellow; 
  font-size: 2.5vh;
}
.theme {
  height: 2.5vh;
}
@keyframes blink {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}

